@await Html.PartialAsync("Partials/Components/_Logo")

<nav class="items-container">
    @await Html.PartialAsync("Partials/Sections/Sidebar/_SidebarItem", new SidebarItemModel { ImgUrl = "~/images/icons/project-briefcase.svg", Name = "Projects", IsActive = true })
    @await Html.PartialAsync("Partials/Sections/Sidebar/_SidebarItem", new SidebarItemModel { ImgUrl = "~/images/icons/project-briefcase.svg", Name = "Team Members" })
</nav>