<div class="notification-item">
    <div class="notification-image">
        <img src="@Url.Content("~/images/icons/usersquare.jpg")" />
    </div>
    <div class="notification-title">
        ASP.NET Web App added
    </div>
    <div class="notification-time">
        1 min ago
    </div>
    <button type="button" class="notification-delete">
        <img src="@Url.Content("~/images/icons/close-icon.svg")" />
    </button>
</div>