::deep .sidebar-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 56px;
    border-radius: 16px;
    font-weight: var(--fw-semibold);
    text-decoration: none;
    color: inherit;
}

::deep .active {
    background-color: #dbe9f8;
}

::deep .item-img {
    vertical-align: middle;
    margin-left: 1.25rem;
}