<button type="button" data-type="dropdown" data-target="#notifications" class="button-notification">
    <img src="@Url.Content("~/images/icons/bell.svg")" width="22" height="22" />
    <div class="notification-alert">
        <div class="notification-dot"></div>
    </div>
</button>