.search-container {
    display: flex;
    height: 100%;
    align-items: center;
}

img {
    margin-right: 0;
}

input {
    font-size: 15px;
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
}

input:focus {
    border: none;
    outline: none;
}