<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alpha - @ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Presentation.WebApp.styles.css" asp-append-version="true" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
</head>
<body>
    <div class="main-container">

        <header class="main-topbar">
            @await Html.PartialAsync("Sections/Topbar/_Topbar.cshtml")
        </header>


        <div class="main-sidebar">
            @await Html.PartialAsync("Sections/Sidebar/_Sidebar.cshtml")
        </div>


        <main role="main" class="main-content">
            @RenderBody()
        </main>

    </div>


    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/tags.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/66b6d46acf.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>




<partial name="Utils/_ValidationScripts" />