@model AdminSignInViewModel

@{
    Layout = "_AdminAuthLayout";
    ViewData["Title"] = "Admin Sign In";
}

<h1>Login</h1>

<div class="google-signup-container">
    <partial name="Components/Buttons/_GoogleButton" model="@("Login with Google")" />
</div>

<div class="divider">OR</div>

<div id="signin" class="container">
    <form asp-action="AdminSignIn" asp-controller="Auth" method="post" novalidate>

        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />

        <div class="form-group">
            <label asp-for="Email"></label>
            <div class="field-group">
                <input asp-for="Email" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <div class="field-group">
                <input asp-for="Password" />
            </div>
        </div>

        <div class="rememberme-forgotpsw">
            <div class="form-group rememberme">
                <div class="field-group">
                    <input asp-for="RememberMe" />
                </div>
                <label asp-for="RememberMe"></label>
            </div>
            <a href="#">Forgot Password?</a>
        </div>

        <partial name="Components/_FormAlert" />

        <div class="submit-button-container" style="display: contents">
            <partial name="Components/Buttons/_BaseButton" model="@( new ButtonModel { Title = "Log In", Type = "submit" } )" />
        </div>
    </form>
</div>