@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Create Account";
}




<h1>Create Account</h1>

<div class="google-signup">
    <img src="@Url.Content("~/images/icons/google-icon.svg")" />
    <span>Sign up with Google</span>
</div>