@model UserSignInForm

@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Sign In";
}

<h1>Login</h1>

<div class="google-signup-container">
    <form asp-controller="Auth" asp-action="ExternalSignIn" method="post" class="external-account" novalidate>
        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
        <partial name="Components/Buttons/_GoogleButton" model="@("Login with Google")" />
    </form>
</div>

<div class="divider">OR</div>

<div id="signin" class="container">
    <form asp-action="SignIn" asp-controller="Auth" method="post" novalidate>

        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />

        <div class="form-group">
            <label asp-for="Email"></label>
            <div class="field-group">
                <input asp-for="Email" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <div class="field-group">
                <input asp-for="Password" />
            </div>
        </div>

        <partial name="Components/_FormAlert" />

        <div class="submit-button-container" style="display: contents">
            <partial name="Components/Buttons/_BaseButton" model="@( new ButtonModel { Title = "Log In", Type = "submit" } )" />
        </div>
    </form>
</div>

<div class="signup-redirect">
    <span>Don't have an account? <a asp-controller="Auth" asp-action="SignUp">Sign Up</a></span>
</div>