h1 {
    text-align: center;
}



::deep .submit-button-container button {
    width: 100%;
    margin-top: 2rem;
}

.google-signup-container ::deep button {
    margin-top: 2.5rem;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 12px;
    color: var(--color-body-light);
    margin: 2rem 0;
}

    .divider::before,
    .divider::after {
        content: "";
        flex: 1;
        border-bottom: 1px solid var(--color-border-100);
        margin: 0 10px;
    }

.tac-field-group {
    display: flex;
    align-items: center;
    justify-content: left;
}

.tac-modal-trigger {
    color: var(--color-accent);
}

.signup-redirect {
    margin-top: 3.5rem;
    display: flex;
    justify-content: center;
}


::deep .notification-error {
    text-align: center;
}