@await Html.PartialAsync("Components/_Logo")

<nav class="items-container">
    <div class="top">
        @await Html.PartialAsync("Sections/Sidebar/Components/_SidebarItem", new SidebarItemModel
        {
            ImgUrl = "~/images/icons/briefcase-solid.svg",
            Name = "Projects",
            AspController = "Projects",
            AspAction = "Projects"
        })

        @if (User.IsInRole("Admin"))
        {
            @await Html.PartialAsync("Sections/Sidebar/Components/_SidebarItem", new SidebarItemModel
            {
                ImgUrl = "~/images/icons/users-solid.svg",
                Name = "Team Members",
                AspController = "Admin",
                AspAction = "Members"
            })

            @await Html.PartialAsync("Sections/Sidebar/Components/_SidebarItem", new SidebarItemModel
            {
                ImgUrl = "~/images/icons/handshake-solid.svg",
                Name = "Clients",
                AspController = "Admin",
                AspAction = "Clients"
            })
        }
    </div>


    <div class="bottom">
        @if (!User.IsInRole("Admin"))
        {
            @await Html.PartialAsync("Sections/Sidebar/Components/_SidebarItem", new SidebarItemModel
            {
                ImgUrl = "~/images/icons/gear-solid.svg",
                Name = "Admin Panel",
                AspController = "Auth",
                AspAction = "AdminSignIn"
            })
        }
    </div>
</nav>