@await Html.PartialAsync("Components/_Logo")

<nav class="items-container">
    @await Html.PartialAsync("Sections/Sidebar/Components/_SidebarItem", new SidebarItemModel
    {
        ImgUrl = "~/images/icons/project-briefcase.svg",
        Name = "Projects",
        AspController = "Projects",
        AspAction = "Projects"
    })

    @await Html.PartialAsync("Sections/Sidebar/Components/_SidebarItem", new SidebarItemModel
    {
        ImgUrl = "~/images/icons/project-briefcase.svg",
        Name = "Team Members",
        AspController = "Admin",
        AspAction = "Members"
    })
</nav>