@model IEnumerable<ClientModel>

@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Clients";
}


<partial name="Sections/Clients/_AddClientForm" model="new AddClientViewModel()" />
<partial name="Sections/Clients/_EditClientForm" model="new EditClientViewModel()" />

<section id="clients">
    <header>
        <div class="header-container">
            <h2>@ViewData["Title"]</h2>
            <partial name="Sections/Clients/Components/_AddClientButton" />
        </div>
    </header>

    <partial name="Sections/Clients/Components/_ClientList" model="@Model" />
</section>