@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Clients";
}


@{
    ViewData["Title"] = "Clients";
}

<partial name="Sections/Clients/_AddClientForm" />
<partial name="Sections/Clients/_EditClientForm" />

<section id="clients">
    <header>
        <div class="header-container">
            <h2>@ViewData["Title"]</h2>
            <partial name="Sections/Clients/Components/_AddClientButton" />
        </div>
    </header>

    <partial name="Sections/Clients/Components/_ClientList" />
</section>