@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Clients";
}


<section id="clients">
    <header>
        <div class="header-container">
            <h2>@ViewData["Title"]</h2>
            @await Html.PartialAsync("Components/Buttons/_AddButton", "Add Client")
        </div>
    </header>
</section>