@model IEnumerable<MemberProfileModel>

@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Members";
}

<partial name="Sections/Members/_AddMemberForm" model="new AddMemberViewModel()" />


<section id="members">
    <header>
        <div class="header-container">
            <h2>@ViewData["Title"]</h2>
            <partial name="Sections/Members/Components/_AddMemberButton" />
        </div>
    </header>

    <div class="member-list">
        @if (Model != null)
        {
            @foreach (var member in Model)
            {
                <partial name="Sections/Members/_MemberCard" model="member" />
            }
        }
    </div>
</section>