@using Domain.Extensions
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Projects";
}

@model IEnumerable<ProjectModel>

<partial name="Sections/Projects/_AddProjectForm" model="new AddProjectViewModel()" />
<partial name="Sections/Projects/_EditProjectForm" model="new EditProjectViewModel()" />


<section id="projects">
    <header>
        <div class="header-container">
            <h2>@ViewData["Title"]</h2>
            <partial name="Sections/Projects/Components/_AddProjectButton" />
        </div>
    </header>

    <div class="project-list">
        @foreach (var project in @Model)
        {
            <div class="card">
                @await Html.PartialAsync("Sections/Projects/Components/_ProjectCard", project.MapTo<ProjectCardViewModel>())
            </div>
        }
        @* <div class="card"> *@
        @*     @await Html.PartialAsync("Sections/Projects/Components/_ProjectCard", new ProjectCardViewModel *@
        @*     { *@
        @*         Name = "Website Redesign", *@
        @*         Client = "GitLab Inc.", *@
        @*         Description = "It is necessary to develop a website redesign in a corporate style.", *@
        @*         DueTime = "1 week left" *@
        @*     }) *@
        @* </div> *@
    </div>
</section>