@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Projects";
}




<section id="projects">
    <header>
        <div class="header-container">
            <h2>@ViewData["Title"]</h2>
            @await Html.PartialAsync("Components/Buttons/_AddButton", "Add Project" )
        </div>
    </header>

    <div class="card">
        @await Html.PartialAsync("Sections/Projects/Components/_ProjectCard", new ProjectCardModel
        {
            Title = "Website Redesign",
            Company = "GitLab Inc.",
            Description = "It is necessary to develop a website redesign in a corporate style.",
            DueTime = "1 week left"
        })
    </div>
</section>