@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Projects";
}




<div class="container">
    <h2>
        Projects
    </h2>

    @await Html.PartialAsync("Partials/Components/_Button", new ButtonModel { IconUri = "images/icons/plus.svg", Title = "Add Project" })
</div>