@using Domain.Extensions
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Projects";
}

@model IEnumerable<ProjectModel>

<partial name="Sections/Projects/_AddProjectForm" model="new AddProjectViewModel()" />
<partial name="Sections/Projects/_EditProjectForm" model="new EditProjectViewModel()" />


<section id="projects">
    <header>
        <div class="header-container">
            <h2>@ViewData["Title"]</h2>
            <partial name="Sections/Projects/Components/_AddProjectButton" />
        </div>
    </header>

    <partial name="Sections/Projects/Components/_ProjectsNavTabs" />

    <div class="project-list">
        @foreach (var project in @Model)
        {
            <div class="project" data-project-status="@(project.EndDate <= DateTime.Now ? "completed" : (project.StartDate <= DateTime.Now && project.EndDate == null ? "started" : ""))">
                @await Html.PartialAsync("Sections/Projects/Components/_ProjectCard", project.MapTo<ProjectCardViewModel>())
            </div>
        }
    </div>
</section>