button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: .75rem 1.5rem;
    font-weight: 300;
    background-color: var(--color-accent);
    color: white;

    border-radius: 14px;
    border: 2px solid white;

    transition: all .2s;
}

button:hover {
    background-color: var(--color-border-300);
    cursor: pointer;
}

img {
    margin-right: .5rem;
}

span {
    white-space: nowrap;
}