<div class="client-list">
    <table>
        <thead>
            <tr>
                <th class="client-check"><input type="checkbox" /></th>
                <th class="client-info">Client Name</th>
                <th class="client-location">Location</th>
                <th class="client-phone">Phone</th>
                <th class="client-date">Date</th>
                <th class="client-status">Status</th>
                <th class="client-actions"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="client-check"><input type="checkbox" /></td>
                <td class="client-info">
                    <img class="client-image" src="~/images/icons/usericon.svg" alt="" />
                    <div class="client-name">EPN Sverige AB</div>
                    <div class="client-email">info@domain.com</div>
                </td>
                <td class="client-location">Stockholm, Sweden</td>
                <td class="client-phone">+46 08 121 475 50</td>
                <td class="client-date">25-03-12</td>
                <td class="client-status">
                    <div class="client-status-container">
                        active
                    </div>
                </td>
                <td class="client-actions">
                    <img class="client-actions-dots" src="~/images/icons/more-dots.svg" data-modal="true" data-target="#editClientModal" />
                </td>
            </tr>
        </tbody>
    </table>
</div>