@model AddProjectViewModel

<div id="addProjectModal" class="modal">
    <div class="modal-content hide-scrollbar">

        <div class="modal-header">
            <h3>Add Project</h3>
            <button class="btn-close" data-close="true">X</button>
        </div>

        <form class="ajax" novalidate method="post" asp-action="AddProject" asp-controller="Projects">
            <div class="image-previewer circle">
                <img src="" class="image-preview" />
                <input asp-for="ProjectImage" accept="image/*" class="hide" />
            </div>

            <div class="form-group">
                <label asp-for="Name">Project Name</label>
                <div class="field-group">
                    <input asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="form-label">Client</div>
                <div id="add-tagged-clients" class="form-input form-tag-select">
                    <input type="text" id="add-client-search" class="form-tag-input" placeholder="Select client..." autocomplete="off" />
                    <label for="add-client-search"></label>
                    <div id="add-client-search-results" class="search-results"></div>
                </div>
            </div>


            <div class="form-group">
                <label class="form-label">Description</label>
                <div class="wysiwyg-container">
                    <textarea asp-for="Description" class="add-project-description-model-field"></textarea>
                    <div id="add-project-description-wysiwyg-editor" class="wysiwyg-editor"></div>
                    <div id="add-project-description-wysiwyg-toolbar" class="wysiwyg-toolbar">
                        <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-align" value=""></button>
                            <button class="ql-align" value="center"></button>
                            <button class="ql-align" value="right"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-list" value="bullet"></button>
                            <button class="ql-list" value="ordered"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-link"></button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="date-container">
                <div class="form-group">
                    <label asp-for="StartDate">Start Date</label>
                    <div class="field-group">
                        <input asp-for="StartDate" />
                        <span asp-validation-for="StartDate"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="EndDate">End Date</label>
                    <div class="field-group">
                        <input asp-for="EndDate" />
                        <span asp-validation-for="EndDate"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-label">Members</div>
                <div id="add-tagged-members" class="form-input form-tag-select">
                    <input type="text" id="add-member-search" class="form-tag-input" placeholder="Add members..." autocomplete="off" />
                    <label for="add-member-search"></label>
                    <div id="add-member-search-results" class="search-results"></div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Budget">Budget</label>
                <div class="field-group budget-container">
                    <img src="@Url.Content("~/images/icons/dollar.svg")" class="dollar-icon" />
                    <input asp-for="Budget" />
                    <span asp-validation-for="Budget"></span>
                </div>
            </div>

            <div class="submit-button-container" style="display: contents">
                <partial name="Components/Buttons/_BaseButton" model="@( new ButtonModel { Title = "Add Project", Type = "submit" } )" />
            </div>
        </form>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        let preselectedMemberTags = [];

        initTagSelector({
            containerId: 'add-tagged-members',
            inputId: 'add-member-search',
            resultsId: 'add-member-search-results',
            idKeyName: 'userId',
            idIsDataTypeInt: false,
            multiSelect: true,
            searchUrl: (query) => '@Url.Action("SearchMembers", "Projects")' + '/' + encodeURIComponent(query),
            displayProperty: 'fullName',
            imageProperty: 'imageURI',
            tagClass: 'user-tag',
            emptyMessage: 'No members found.',
            preselected: preselectedMemberTags,
            viewModelProperty: 'SelectedMemberIds',
        });

        let preselectedClientTag = [];

        initTagSelector({
            containerId: 'add-tagged-clients',
            inputId: 'add-client-search',
            resultsId: 'add-client-search-results',
            idKeyName: 'id',
            idIsDataTypeInt: true,
            multiSelect: false,
            searchUrl: (query) => '@Url.Action("SearchClients", "Projects")' + '/' + encodeURIComponent(query),
            displayProperty: 'name',
            imageProperty: 'imageURI',
            tagClass: 'user-tag',
            emptyMessage: 'No members found.',
            preselected: preselectedClientTag,
            viewModelProperty: 'SelectedClientId',
        });
    });
</script>