.container {
    display: grid;
    grid-template-columns: 1fr auto;

    padding: 1.25rem 1.75rem;
}

.right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-left: 2rem;
}


.divider {
    background-color: var(--color-border-200);
    width: 2px;
    height: 31px;
}