<div id="addClientModal" class="modal">
    <div class="modal-content">

        <div class="modal-header">
            <h3>Add Client</h3>
            <button class="btn-close" data-close="true"></button>
        </div>

        <form novalidate method="post" asp-action="AddClient" asp-controller="Admin">

        </form>
    </div>
</div>