.modal {
    display: none;
    background-color: #e3e5e8cc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 550px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 4px 3px rgba(196);
    padding: 2rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.btn-close {
    cursor: pointer;
    font-size: 2em;
    border: none;
    background-color: transparent;
    color: var(--color-body-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

::deep .submit-button-container button {
    width: 100%;
    margin-top: 2rem;
}

form {
    width: 100%;
}

    form .form-group {
        display: grip;
        gap: 0.2rem;
        margin-bottom: 1.2rem;
    }

    form .field-group {
        position: relative;
    }

::deep form input,
::deep form select,
::deep form textarea {
    width: 100%;
    font-size: 1em;
    padding: 0.5rem 1rem;
    border-radius: 16px;
    border: 1px solid #ececec;
    outline: none;
    transition: border-color 0.15s ease-in-out;
}

    ::deep form input:focus,
    ::deep form select:focus,
    ::deep form textarea:focus {
        border: 1px solid var(--color-accent);
    }

    ::deep form input::placeholder,
    ::deep form select::placeholder,
    ::deep form textarea::placeholder {
        opacity: .5;
        font-size: .9em;
    }

::deep form .input-validation-error {
    border-color: firebrick;
}

::deep form .field-validation-error {
    position: absolute;
    z-index: 1;
    right: 0.2rem;
    top: 3px;
    font-size: .8em;
    background-color: lightpink;
    color: firebrick;
    padding: .4rem 1rem;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.image-previewer {
    border: 2px dashed #ececec;
    height: 150px;
    width: 150px;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

    .image-previewer::after {
        content: '\f030';
        font-family: var(--font-fa);
        font-weight: var(--fw-bold);
        background-color: darkgrey;
        color: white;
        padding: 1rem;
        border-radius: 50%;
        position: relative;
        bottom: 0;
    }

    .image-previewer.selected::after {
        content: '\f044';
        position: absolute;
        bottom: 5px;
    }

    .image-previewer.circle {
        border-radius: 50%;
    }

    .image-previewer.square {
        border-radius: 16px;
    }
