@model EditClientForm

<div id="editClientModal" class="modal">
    <div class="modal-content">

        <div class="modal-header">
            <h3>Edit Client</h3>
            <button class="btn-close" data-close="true">X</button>
        </div>

        <form novalidate method="post" asp-action="EditClient" asp-controller="Admin">
            <input asp-for="Id" readonly type="hidden" />

            <div class="image-previewer circle">
                <img src="" class="image-preview" />
                <input asp-for="ClientImage" accept="image/*" class="hide" />
            </div>

            <div class="form-group">
                <label asp-for="ClientName">Client Name</label>
                <div class="field-group">
                    <input asp-for="ClientName" />
                    <span asp-validation-for="ClientName"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <div class="field-group">
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Location">Location</label>
                <div class="field-group">
                    <input asp-for="Location" />
                    <span asp-validation-for="Location"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Phone">Phone</label>
                <div class="field-group">
                    <input asp-for="Phone" />
                    <span asp-validation-for="Phone"></span>
                </div>
            </div>

            <div class="submit-button-container" style="display: contents">
                <partial name="Components/Buttons/_BaseButton" model="@( new ButtonModel { Title = "Create", Type = "submit" } )" />
            </div>
        </form>
    </div>
</div>