<div class="logo-container">
    <img src="images/logo.svg" alt="Logo" />
    <span class="logo-text">alpha</span>
</div>

<div class="items-container">
    @await Html.PartialAsync("Partials/Main/Sidebar/_SidebarItem")
</div>