<a class="logo" href="#">
    <img src="~/images/logo.svg" alt="Logo" />
    <span class="logo-text">alpha</span>
</a>

<div class="items-container">
    @await Html.PartialAsync("Partials/Main/Sidebar/_SidebarItem", new SidebarItemModel { ImgUrl = "~/images/icons/project-briefcase.svg", Name = "Projects", IsActive = true })
    @await Html.PartialAsync("Partials/Main/Sidebar/_SidebarItem", new SidebarItemModel { ImgUrl = "~/images/icons/project-briefcase.svg", Name = "Team Members" })
</div>