@model SidebarItemModel

<div class="sidebar-item">
    <div class="img-container">
        <img src="@Model.ImgUrl" class="item-img"/>
    </div>
    <span class="item-name">@Model.Name</span>
</div>