<div class="container">
    <div class="left">
        @await Html.PartialAsync("Sections/Topbar/Components/_Search")
    </div>

    <div class="right">
        @await Html.PartialAsync("Sections/Topbar/Components/Notifications/_Notifications")
        @await Html.PartialAsync("Sections/Topbar/Components/_Settings")
        <span class="divider"></span>
        @await Html.PartialAsync("Sections/Topbar/Components/_User")
    </div>
</div>